@import "tailwindcss";

.typing {
  font-size: clamp(1.55rem, 5vw, 2.5rem);
  text-align: center;
  text-transform: uppercase;
  margin: 2rem auto;
  width: 21ch;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid;
  animation:
    typing 3s steps(21) forwards,
    blink 0.7s step-end infinite;
}

.introduction {
  margin: 1rem auto 4rem auto;
  padding: 0 2rem;
  max-width: 1000px;
}

.introduction {
  p {
    font-size: 18px;
    line-height: 1.2;
    padding-bottom: 24px;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 21ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
